<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Money X Money</title>
    <meta charset="UTF-8">
    <link th:href="@{/about.css}" rel="stylesheet" />
    <script type="text/javascript" src="index.js"></script>
</head>
<body>

<audio controls autoplay>
    <source src="music.mp3" type="audio/mpeg">
    Your browser does not support the audio element.
</audio>
<nav>
    <div class="titre"> <h1>Money X Money</h1></div>
    <div class="onglets">


        <router-link
                class="btn btn-outline-primary mr-2"
                to="/meetings"
        ><a th:href="@{/home}">Home</a></router-link>

        <router-link
                class="btn btn-outline-primary mr-2"
                to="/meetings"
        ><a th:href="@{/profile}">Profile</a></router-link>
        <router-link
                class="btn btn-outline-primary mr-2"
                to="/meetings"
        ><a th:href="@{/account}">Account</a></router-link>

        <router-link
                class="btn btn-outline-primary mr-2"
                to="/login"
        ><a th:href="@{/transfer}">Transaction</a></router-link>
        <router-link
                class="btn btn-outline-primary mr-2"
                to="/login"
        ><a th:href="@{/about}">About Us</a></router-link>
        <router-link
                class="btn btn-outline-primary mr-2"
                to="/meetings"
        ><a th:href="@{/login}">Sign Out</a></router-link>

    </div>
</nav>

<header>
    <h1><span class="lettre">A</span>
        <span class="lettre">B</span>
        <span class="lettre">O</span>
        <span class="lettre">U</span>
        <span class="lettre">T</span>&nbsp; &nbsp;
        <span class="lettre">U</span>
        <span class="lettre">S</span>


    </h1>



</header>

<section class="main" id="produits">

    <div class="content">
        <div class="card">
            <div class="left">
                <blink> <h1>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Virez de l'argent!</h1></blink>
                <p>Ce site a été crée en 2021 afin de permettre de transférer facilement de l'argent à une tierce personne.
                    En effet le but est d'offrir une interface plus simple et efficace que celle des autres sites permettant
                    des virements entre personnes.
                </p>
            </div>
            <div class="right">
                <img src="photobank2.jpg" alt="">
            </div>
        </div>

    </div>
</section>
<footer>

    <div class="images">

        <a href="https://fr-fr.facebook.com/" >
            <img src="124010.png" alt="img" height="120" width="120" />
        </a>
        <a href="https://twitter.com/?lang=fr" >
            <img src="124021.png" alt="img2" height="120" width="120" />
        </a>
        <a href="https://fr.linkedin.com/" >
            <img src="images.png" alt="img3" height="120" width="120" />
        </a>

    </div>

</footer>
</body>
<div class="cursor"></div>

<script src="main.js"></script>
</html>
