<!--<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymleaf.org">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
  <link th:href="@{/account.css}" rel="stylesheet" />
 <div class="pay"> <title>Money X Money</title></div>
</head>
<body>
<nav class=" navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <div class="row">
      <button type="button" class=" col-1 btn btn-success">Money <br>X Money</button>
      <div class="col-sm-7 collapse navbar-collapse d-flex justify-content-end" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" th:href="@{/home}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" th:href="@{/profile}">Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" th:href="@{/account}">Account</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" th:href="@{/transfer}">Transfer</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" th:href="@{/about}">About Us</a>
          </li>
          <li class="nav-item">
            <form th:action="@{/logout}" method="get">
             <button type="submit" class="btn btn-primary mx-auto">Logout</button>
    </form>
          </li>

        </ul>
      </div>
    </div>
  </div>
</nav>
<div class="option"><blink>Deposit Money</blink></div>
<form th:action="@{/process_adding_account}" method="get" th:object="${account}">

  <div class="form-group row my-2 mx-5">
    <input type="text" class="col-form-label col-4 mx-auto" placeholder="Amount " name="amount" th:field="*{amount}"
           required>
    <input type="text" class="col-form-label col-4 mx-auto" placeholder="IBAN" name="iban" th:field="*{iban}"
           required>
    <div class="form-group row my-2 mx-5">
   <div class="bb">  <button type="submit" class="btn btn-primary col-1 mx-auto">Submit</button></div>
  </div>
  </div>
</form>
<div class="option"><blink>Withdraw Money</blink></div>
<form th:action="@{/process_withdraw_account}" method="get" th:object="${account}">

  <div class="form-group row my-2 mx-5">
    <input type="text" class="col-form-label col-4 mx-auto" placeholder="Amount " name="amount" th:field="*{amount}"
           required>
    <input type="text" class="col-form-label col-4 mx-auto" placeholder="IBAN" name="iban" th:field="*{iban}"
           required>
    <div class="form-group row my-2 mx-5">
    <div class="bb"> <button type="submit" class="btn btn-primary col-1 mx-auto">Submit</button></div>
  </div>
  </div>
</form>
<div class="cursor"></div>

<script src="main.js"></script>
</body>
</html>-->





<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymleaf.org">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
  <link th:href="@{/account.css}" rel="stylesheet" />
  <div class="pay"> <title>Money X Money</title></div>
</head>
<body>
<nav class=" navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <div class="row">
      <button type="button" class=" col-1 btn btn-success">Money <br>X Money</button>
      <div class="col-sm-7 collapse navbar-collapse d-flex justify-content-end" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" th:href="@{/home}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" th:href="@{/profile}">Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" th:href="@{/account}">Account</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" th:href="@{/transfer}">Transaction</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" th:href="@{/about}">About Us</a>
          </li>
          <li class="nav-item">
            <form th:action="@{/logout}" method="get">
              <button type="submit" class="btn btn-primary mx-auto">Logout</button>
            </form>
          </li>

        </ul>
      </div>
    </div>
  </div>
</nav>
<div class="option"><blink>Deposit Money</blink></div>
<form th:action="@{/process_adding_account}" method="get" th:object="${account}">

  <div class="form-group row my-2 mx-5">
    <input type="text" class="col-form-label col-4 mx-auto" placeholder="Amount " name="amount" th:field="*{amount}"
           required>
    <input type="text" class="col-form-label col-4 mx-auto" placeholder="IBAN" name="iban" th:field="*{iban}"
           required>
    <div class="form-group row my-2 mx-5">
      <div class="bb">  <button type="submit" class="btn btn-primary col-1 mx-auto">Submit</button></div>
    </div>
  </div>
</form>
<div class="option"><blink>Withdraw Money</blink></div>
<form th:action="@{/process_withdraw_account}" method="get" th:object="${account}">

  <div class="form-group row my-2 mx-5">
    <input type="text" class="col-form-label col-4 mx-auto" placeholder="Amount " name="amount" th:field="*{amount}"
           required>
    <input type="text" class="col-form-label col-4 mx-auto" placeholder="IBAN" name="iban" th:field="*{iban}"
           required>
    <div class="form-group row my-2 mx-5">
      <div class="bb"> <button type="submit" class="btn btn-primary col-1 mx-auto">Submit</button></div>
    </div>
  </div>
</form>



</body>

<div class="cursor"></div>

<script src="main.js"></script>
</html>














