<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
    <link th:href="@{/connections.css}" rel="stylesheet" />
    <title>Money X Money</title>
</head>
<body>
<nav class=" navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <div class="row">
            <button type="button" class=" col-1 btn btn-success">Money <br>X Money</button>
            <div class="col-sm-7 collapse navbar-collapse d-flex justify-content-end" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/home}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/profile}">Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/account}">Account</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/transfer}">Transfer</a>
                    </li>
                    <li class="nav-item">
                        <form th:action="@{/logout}" method="get">
                            <button type="submit" class="btn btn-primary mx-auto">Logout</button>
                        </form>
                    </li>

                </ul>
            </div>
        </div>
    </div>
</nav>
<div>
    <table class="table">
        <tr>
            <th>Connection ID</th>
            <th>FirstName</th>

        </tr>
        <tr th:each="connection: ${listConnections}">
            <td th:utext="${connection.id}">..</td>
            <td th:utext="${connection.user2.firstName}">..</td>
        </tr>

    </table>
</div>
</body>
</html>