<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="index.css">
    <link rel = "preconnect" href = "https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <title>MoneyXMoney</title>
<body>
<header>
    <a href="#" class="logo"><span>M</span>oney <span>X</span>&nbsp;<span>M</span>oney</a>
    <div class="menuToggle" onclick="toggleMenu();"></div>
    <ul class="navbar">
        <li><a th:href="@{/profile}" onclick="toggleMenu();">Profile</a></li>
        <li><a th:href="@{/account}" onclick="toggleMenu();">Account</a></li>
        <li><a th:href="@{/transfer}" onclick="toggleMenu();">Transaction</a></li>
        <li><a th:href="@{/about}" onclick="toggleMenu();">About Us</a></li>
        <li><a th:href="@{/login}" onclick="toggleMenu();">Login</a></li>
    </ul>
</header>
<section class="banniere" id="banniere">
    <!--<div class="contenu">
        <h2>Que Des Plats Délicieux</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        <a href="#" class="btn1">Notre Menu</a>
        <a href="#" class="btn2">Reservation</a>
    </div>-->
</section>
<section class="apropos" id="apropos">
    <div class="row">
        <div class="col50">
            <h2 class="titre-texte"><span>A</span> Propos De Money X Money</h2>
            <p>Money X Money vous permet de virer de l'argent avec un autre utilisateur. Vous devez établir une connection
                avec ce dernier en cliquant sur le bouton "Add Connection" et en ajoutant le mail de l'utilisateur vers lequel
                vous souhaiter transférer de l'argent. Sur la page  "Account" vous pouvez mettre ou retirer de l'argent sur
                votre compte grâce aux fonctions "Deposit Money" et "Withdraw Money".
            </p>
        </div>
        <div class="col50">
            <div class="img">
                <img src="imageabout.jpg"/>
            </div>
        </div>
    </div>
</section>


<footer>

    <div class="images">

        <a href="https://fr-fr.facebook.com/" >
            <img src="124010.png" alt="img" height="120" width="120" />
        </a>
        <a href="https://twitter.com/?lang=fr" >
            <img src="124021.png" alt="img2" height="120" width="120" />
        </a>
        <a href="https://fr.linkedin.com/" >
            <img src="images.png" alt="img3" height="120" width="120" />
        </a>

    </div>

</footer>

<script type="text/javascript">
     window.addEventListener('scroll', function(){
         const header =document.querySelector('header');
         header.classList.toggle("sticky", window.scrollY > 0 );
     });

     function toggleMenu(){
         const tmenuToggle = document.querySelector('.menuToggle');
         const navbar = document.querySelector('.navbar');
         navbar.classList.toggle('active');
         menuToggle.classList.toggle('active');
     }
 </script>
</body>
</html>