<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Site FreeCodeCamp</title>
    <meta charset="UTF-8">
    <link th:href="@{/index.css}" rel="stylesheet" />
</head>
<body>
<nav>
  <div class="titre"> <h1>Pay My Buddy</h1></div>
    <div class="onglets">
        <router-link
                class="btn btn-outline-primary mr-2"
                to="/meetings"
        ><a th:href="@{/profile}">Profile</a></router-link>
        <router-link
                class="btn btn-outline-primary mr-2"
                to="/meetings"
        ><a th:href="@{/account}">Account</a></router-link>

        <router-link
                class="btn btn-outline-primary mr-2"
                to="/login"
        ><a th:href="@{/transfer}">Transaction</a></router-link>
        <router-link
                class="btn btn-outline-primary mr-2"
                to="/login"
        ><a th:href="@{/contact}">Contact</a></router-link>
        <router-link
                class="btn btn-outline-primary mr-2"
                to="/meetings"
        ><a th:href="@{/login}">Sign Out</a></router-link>

    </div>
</nav>

<header>
    <h1>Transfer Money</h1>


</header>

<section class="main" id="produits">

    <div class="content">
        <div class="card">
            <div class="left">
                <h1>Echangez de l'argent</h1>
                <p>Notre site vous permet d'échanger de l'argent avec une tierce personne.</p>
            </div>
            <div class="right">
                <img src="photobank2.jpg" alt="">
            </div>
        </div>

    </div>
</section>
</body>
</html>
