<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
  <title>Login - login</title>
  <link th:href="@{/login.css}" rel="stylesheet" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css">
</head>
<body>
<div class="container-fluid text-center">
  <div>
    <img class="img-fluid" th:src="@{/image.jpg}" />
  </div>
  <form th:action="@{/login}" method="post" style="max-width: 350px; margin: 0 auto;">

    <div th:if="${param.error}">
      <p class="text-danger">[[${session.SPRING_SECURITY_LAST_EXCEPTION.message}]]</p>
    </div>

    <div th:if="${param.logout}">
      <p class="text-warning">You have been logged out.</p>
    </div>

    <div class="border border-secondary p-3 rounded">
      <div class="titre"><p>Money X Money</p></div>
      <div class="mail"> <p><input type="email" name="email" class="form-control" placeholder="E-mail" required autofocus/>
      </p>
        <p>
          <input type="password" name="password" class="form-control" placeholder="Password" required />
        </p></div>
      <div class="remember"><input type="checkbox" name="remember-me" /> Remember Me</div>
      <p>
      <div class="log"><input type="submit" value="Login" class="btn btn-primary" /></div>
      </p>
      <p> Do not have an account? <a href="/registration" th:href="@{/register}">Create your buddy account
        here</a>.
      <p>
    </div>
  </form>
</div>
</body>
</html>
