<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href=""/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
            crossorigin="anonymous"></script>
    <link th:href="@{/transfer.css}" rel="stylesheet" />
    <title>Log In</title>
</head>
<body>

<nav class=" navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <div class="row">
            <button type="button" class=" col-1 btn btn-success">Money <br>X Money</button>
            <div class="col-sm-7 collapse navbar-collapse d-flex justify-content-end" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/home}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/profile}">Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/account}">Account</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/transfer}">Transaction</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/about}">About Us</a>
                    </li>
                    <li class="nav-item">
                        <form th:action="@{/logout}" method="get">
                            <button type="submit" class="btn btn-primary mx-auto">Logout</button>
                        </form>
                    </li>

                </ul>
            </div>
        </div>
    </div>
</nav>
<div class="d-flex flex-column col-7 mt-5 mx-auto">
    <div class="row my-2">
        <div class="send"><div class="col-6">
            <span class="lettre">S</span>
            <span class="lettre">E</span>
            <span class="lettre">N</span>
            <span class="lettre">D</span>
            <span class="lettre">&nbsp;</span>
            <span class="lettre">M</span>
            <span class="lettre">O</span>
            <span class="lettre">N</span>
            <span class="lettre">E</span>
            <span class="lettre">Y</span>

        </div></div>
        <div class="col-6 d-flex flex-row-reverse">
            <form th:action="@{/transfer/addConnection}">
                <div class="connection"><input type="submit" class="btn btn-primary mb-5" value="Add Connection"/></div>
            </form>

        </div>
    </div>
</div>
<div class="d-flex flex-column col-7 my-auto mx-auto box">
    <form th:action="@{/process_transfer}" method="post" th:object="${transfer}">
        <div class="row">
            <div class="col-4">
                <select class="form-select form-select-sm" aria-label=".form-select-sm example" th:field="*{to.id}" multiple="multiple">
                    <option value="" th:disabled="disabled">Select a connection</option>
                    <option th:each="connection: ${listConnections}" th:value="${connection.user2.id}"
                            th:utext="${connection.user2.firstName}" th:field="*{to.id}">
                    </option>
                </select>
            </div>
            <div class="col-4">
                <form>
                    <input class="form-select-number" type="number" min="1" placeholder="Amount of money"
                           th:field="*{amountBeforeTransfer}" required>
                </form>
            </div>
            <div class="col-4">
                <button type="submit" class="btn btn-success col-8 mx-auto">Pay</button>
            </div>
    </form>
</div>
</div>
<div class="d-flex flex-column col-7 mt-5 mx-auto">
   <div class="transaction"><p class="font-weight-bold">
       <span class="lettre">T</span>
       <span class="lettre">R</span>
       <span class="lettre">A</span>
       <span class="lettre">N</span>
       <span class="lettre">S</span>
       <span class="lettre">A</span>
       <span class="lettre">C</span>
       <span class="lettre">T</span>
       <span class="lettre">I</span>
       <span class="lettre">O</span>
       <span class="lettre">N</span>
       <span class="lettre">S</span>
   </p></div>
<table class="table table-hover table-bordered">
        <thead>
        <tr class="bg-success">
            <th scope="col">Connections</th>
            <th scope="col">Description</th>
            <th scope="col">Amount</th>
        </tr>
        <tbody>
        <tr th:each="transfer: ${listTransfers}">

            <td th:utext="${transfer.to.firstName}"></td>

            <td th:utext="${transfer.date}"></td>

            <td th:utext="${transfer.amountBeforeTransfer}"></td>

        </tr>
        </tbody>
    </table>
</div>
<div class="d-flex flex-column mt-5">

    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only">Previous</span>
                </a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only">Next</span>
                </a>
            </li>
        </ul>
    </nav>
</div>
</div>
</body>
<div class="cursor"></div>

<script src="main.js"></script>
</html>
